{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:import/recommended",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "2020",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/react-in-jsx-scope": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/destructuring-assignment": "warn",
    "react/jsx-pascal-case": "warn",
    "react/jsx-uses-react": "off",
    "react/no-direct-mutation-state": "warn",
    "react/jsx-no-useless-fragment": "warn",
    "react/no-array-index-key": "warn",
    "react/no-unused-state": "warn",
    "react/jsx-key": "warn",
    "react/self-closing-comp": "warn",
    "react/jsx-curly-brace-presence": "warn",
    "react/prop-types": "off",
    "eqeqeq": "warn",
    "default-param-last": "off",
    "dot-notation": "warn",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "import/no-relative-packages": "off",
    "no-await-in-loop": "error",
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-multiple-empty-lines": "warn",
    "no-shadow": "warn",
    "no-var": "warn",
    "no-unused-vars": "warn",
    "object-curly-newline": "off",
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "spaced-comment": "off"
  },
  "ignorePatterns": ["dist/", "node_modules/"]
}
