{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "no-var": "warn",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "dot-notation": "warn",
    "no-unused-vars": "warn",
    "no-extra-semi": "error",
    "react/destructuring-assignment": "warn",
    "react/jsx-filename-extension": [1, { "extensions": ["js", "jsx"] }],
    "react/jsx-pascal-case": "warn",
    "react/no-direct-mutation-state": "warn",
    "react/jsx-no-useless-fragment": "warn",
    "react/no-unused-state": "warn",
    "react/jsx-key": "warn",
    "react/self-closing-comp": "warn",
    "react/jsx-curly-brace-presence": "warn",
    "react/prop-types": 0,
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off",
    "import/prefer-default-export": ["off"],
    "react-hooks/exhaustive-deps": ["warn"],
    "react/jsx-props-no-spreading": [1, { "custom": "ignore" }],
    "array-bracket-spacing": "error",
    "arrow-parens": ["error", "always"],
    "eol-last": "error",
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "no-await-in-loop": "error",
    "no-bitwise": "error",
    "no-empty": "warn",
    "no-multiple-empty-lines": "error",
    "no-new-wrappers": "error",
    "no-trailing-spaces": ["error", { "ignoreComments": true }],
    "space-before-function-paren": [
      "error",
      { "anonymous": "ignore", "named": "ignore", "asyncArrow": "always" }
    ],
    "space-infix-ops": "error",
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
