# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Output of 'npm pack'
*.tgz

# testing
/coverage

# production
/build
dist

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

*.pem

# Thumbnails
._*

# vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# intellij cache
.idea

# dotenv environment variable files
.env
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

#database
/database/data
*.insert*data.sql
/test-results/
/playwright-report/
/playwright/.cache/
